/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
    src: url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
    src: url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot");
    src: url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
    src: url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothic"; */
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "CocoGothicHeavy";
    src: url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.eot");
    src: url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicItalic"; */
@font-face {
    font-family: "CocoGothicItalic";
    src: url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.eot");
    src: url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicLight"; */
@font-face {
    font-family: "CocoGothicLight";
    src: url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.eot");
    src: url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicLightItalic"; */
@font-face {
    font-family: "CocoGothicLightItalic";
    src: url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.eot");
    src: url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicRegular"; */
@font-face {
    font-family: "CocoGothicRegular";
    src: url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.eot");
    src: url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicUltralight"; */
@font-face {
    font-family: "CocoGothicUltralight";
    src: url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.eot");
    src: url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CocoGothicUltralightItalic"; */
@font-face {
    font-family: "CocoGothicUltralightItalic";
    src: url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.eot");
    src: url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.woff") format("woff"),
    url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadPro"; */
/* font-family: "MyriadPro"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/************************************/

@mixin CocoGothicHeavy {font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;}
@mixin CocoGothicItalic {font-family: 'CocoGothicItalic', CocoGothicItalic, sans-serif;}
@mixin CocoGothicLight {font-family: 'CocoGothicLight', CocoGothicLight, sans-serif;}
@mixin CocoGothicLightItalic {font-family: 'CocoGothicLightItalic', CocoGothicLightItalic, sans-serif;}
@mixin CocoGothicRegular {font-family: 'CocoGothicRegular', CocoGothicRegular, sans-serif;}
@mixin CocoGothicUltralight {font-family: 'CocoGothicUltralight', CocoGothicUltralight, sans-serif;}
@mixin CocoGothicUltralightItalic {font-family: 'CocoGothicUltralightItalic', CocoGothicUltralightItalic, sans-serif;}

/************************************/

@mixin OpenSansBold {font-family: 'OpenSansBold', OpenSansBold, sans-serif;}
@mixin OpenSansBoldItalic {font-family: 'OpenSansBoldItalic', OpenSansBoldItalic, sans-serif;}
@mixin OpenSansExtraBold {font-family: 'OpenSansExtraBold', OpenSansExtraBold, sans-serif;}
@mixin OpenSansExtraBoldItalic {font-family: 'OpenSansExtraBoldItalic', OpenSansExtraBoldItalic, sans-serif;}
@mixin OpenSansItalic {font-family: 'OpenSansItalic', OpenSansItalic, sans-serif;}
@mixin OpenSansLight {font-family: 'OpenSansLight', OpenSansLight, sans-serif;}
@mixin OpenSansLightItalic {font-family: 'OpenSansLightItalic', OpenSansLightItalic, sans-serif;}
@mixin OpenSansRegular {font-family: 'OpenSansRegular', OpenSansRegular, sans-serif;}
@mixin OpenSansRegularItalic {font-family: 'OpenSansRegularItalic', OpenSansRegularItalic, sans-serif;}
@mixin OpenSansSemiBold {font-family: 'OpenSansSemiBold', OpenSansSemiBold, sans-serif;}
@mixin OpenSansSemiBoldItalic {font-family: 'OpenSansSemiBoldItalic', OpenSansSemiBoldItalic, sans-serif;}

/************************************/

@mixin MyriadProRegular {font-family: 'MyriadProRegular', MyriadProRegular, sans-serif;}