$bg-1: #fff; // header / header menu
$bg-2: #424aaa; // header
$bg-3: #db6494; // показатель количества в корзине
$bg-4: #2a2a2d; // footer

$f-1: #2a2a2d; // header menu 
$f-2: #4bbceb; // header menu hover
$f-3: #fff; // показатель количества в корзине
$f-4: #fff; // footer text
$f-5: #2a2a2d; // slider title
$f-6: #2a2a2d; // slider group


$br-1: #465e90; // border btn footer
$br-2: #6e6e6e; // border slider group
