$bg-1: #fff; // header / header menu
$bg-2: #424aaa; // header
$bg-3: #db6494; // показатель количества в корзине // step basket icon // basket button
$bg-4: #2a2a2d; // footer
$bg-5: #ececec; // btn load
$bg-6: #2a2a2d; // card btn
$bg-7: #f4f4f4; // bg input

$f-1: #2a2a2d; // header menu 
$f-2: #4bbceb; // header menu hover
$f-3: #fff; // показатель количества в корзине
$f-4: #fff; // footer text
$f-5: #2a2a2d; // slider title
$f-6: #2a2a2d; // slider group // brands // brands hover // sort main
$f-7: #ababab;  // brands
$f-8: #2a2a2d; // catalog
$f-9: #2a2a2d; // breadcrumbs
$f-10: #2a2a2d; // text product card // title basket // basket / contacts // btn reviews
$f-11: #aaaaab; // steps basket no active

$br-1: #465e90; // border btn footer
$br-2: #6e6e6e; // border slider group // catalog btn
$br-3: #db6494; // preview photo //
