@charset "UTF-8";
/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.eot");
  src: url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.woff") format("woff"), url("../../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot");
  src: url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../../fonts/OpenSans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"), url("../../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansExtraBold"; */
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansRegularItalic"; */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBold"; */
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothic"; */
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "CocoGothicHeavy";
  src: url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.eot");
  src: url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicHeavy/CocoGothicHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicItalic"; */
@font-face {
  font-family: "CocoGothicItalic";
  src: url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.eot");
  src: url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicItalic/CocoGothicItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicLight"; */
@font-face {
  font-family: "CocoGothicLight";
  src: url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.eot");
  src: url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicLight/CocoGothicLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicLightItalic"; */
@font-face {
  font-family: "CocoGothicLightItalic";
  src: url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.eot");
  src: url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicLightItalic/CocoGothicLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicRegular"; */
@font-face {
  font-family: "CocoGothicRegular";
  src: url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.eot");
  src: url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicRegular/CocoGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicUltralight"; */
@font-face {
  font-family: "CocoGothicUltralight";
  src: url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.eot");
  src: url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicUltralight/CocoGothicUltralight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "CocoGothicUltralightItalic"; */
@font-face {
  font-family: "CocoGothicUltralightItalic";
  src: url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.eot");
  src: url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.woff") format("woff"), url("../../fonts/CocoGothic/CocoGothicUltralightItalic/CocoGothicUltralightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "MyriadPro"; */
/* font-family: "MyriadPro"; */
@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/************************************/
/************************************/
/************************************/
.footer__btn_1 {
  display: inline-block;
  padding: 16px 36px;
  background-color: transparent;
  color: white;
  border: 2px solid #465e90;
  border-radius: 4px;
  font-family: 'OpenSansBold', OpenSansBold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin: 10px 0;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .footer__btn_1:hover {
    background-color: #465e90; }

.catalog__btn_1 {
  display: inline-block;
  padding: 12px 30px;
  background-color: transparent;
  color: #2a2a2d;
  border: 2px solid #6e6e6e;
  border-radius: 4px;
  font-family: 'OpenSansBold', OpenSansBold, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .catalog__btn_1.active {
    background-color: #2a2a2d;
    border-color: #2a2a2d;
    color: white; }
  .catalog__btn_1:hover {
    background-color: #2a2a2d;
    border-color: #2a2a2d;
    color: white; }

.load__btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #ececec;
  color: #2a2a2d;
  border: 2px solid #ececec;
  border-radius: 4px;
  font-family: 'OpenSansBold', OpenSansBold, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }
  .load__btn:hover {
    background-color: #6e6e6e;
    color: white; }

@keyframes slideOutLeft {
  from {
    left: -16px; }
  30% {
    left: 10px; }
  to {
    left: -9999px; } }
@-webkit-keyframes slideOutLeft {
  from {
    left: -16px; }
  30% {
    left: 10px; }
  to {
    left: -9999px; } }
@-moz-keyframes slideOutLeft {
  from {
    left: -16px; }
  30% {
    left: 10px; }
  to {
    left: -9999px; } }
@-o-keyframes slideOutLeft {
  from {
    left: -16px; }
  30% {
    left: 10px; }
  to {
    left: -9999px; } }
@-ms-keyframes slideOutLeft {
  from {
    left: -16px; }
  30% {
    left: 10px; }
  to {
    left: -9999px; } }
/***********/
@keyframes slideInLeft {
  from {
    left: -9999px; }
  to {
    left: -16px; } }
@-webkit-keyframes slideInLeft {
  from {
    left: -9999px; }
  to {
    left: -16px; } }
@-moz-keyframes slideInLeft {
  from {
    left: -9999px; }
  to {
    left: -16px; } }
@-o-keyframes slideInLeft {
  from {
    left: -9999px; }
  to {
    left: -16px; } }
@-ms-keyframes slideInLeft {
  from {
    left: -9999px; }
  to {
    left: -16px; } }
/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); } }
@-moz-keyframes pop {
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); } }
@-o-keyframes pop {
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); } }
@-ms-keyframes pop {
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); } }
@keyframes pop {
  50% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4); } }
.animation-pop {
  -webkit-animation: pop 1s ease-in-out;
  -moz-animation: pop 1s ease-in-out;
  -o-animation: pop 1s ease-in-out;
  -ms-animation: pop 1s ease-in-out;
  animation: pop 1s ease-in-out; }

/* ╤И╨░╨┐╨║╨░ ╤Б╨░╨╣╤В╨░ */
.header__wrap {
  width: 100%;
  position: fixed;
  z-index: 99999;
  background-color: #fff;
  margin-top: -80px; }
  .header__wrap header {
    height: 80px; }

body {
  margin-top: 80px; }

.header__logo {
  width: 200px;
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  .header__logo img.header-logo {
    width: 100%;
    height: auto; }

.header__menu ul li.hamburger-logo {
  display: none; }

.header__menu {
  width: auto;
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding-left: 200px;
  background-color: #fff; }
  .header__menu ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    font-size: 0; }
    .header__menu ul li {
      display: inline-block; }
      .header__menu ul li a {
        font-family: 'OpenSansExtraBold', OpenSansExtraBold, sans-serif;
        font-size: 14px;
        margin: 0 22px;
        color: #2a2a2d; }
        .header__menu ul li a:hover {
          color: #4bbceb;
          text-decoration: none; }
        .header__menu ul li a.active {
          color: #4bbceb; }
        .header__menu ul li a:linked {
          color: #4bbceb; }

.header__buttons {
  width: auto;
  height: 100%;
  float: right;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.header__liked-container {
  width: 70px;
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.header__liked-btn {
  width: 30px;
  height: 37px;
  background: url(../../img/icons/heart.png) no-repeat center;
  background-size: 30px 26px;
  cursor: pointer;
  position: relative; }

.header__search-container {
  width: 70px;
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.header__search-btn {
  width: 30px;
  height: 37px;
  background: url(../../img/icons/search.png) no-repeat center;
  background-size: 25px 26px;
  cursor: pointer; }

.header__basket-container {
  margin-left: 60px;
  width: 160px;
  height: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.header__basket-btn {
  border: 1px solid #6e6e6e;
  border-radius: 5px;
  cursor: pointer;
  width: 110px;
  height: 39px;
  line-height: 36px;
  font-family: 'OpenSansBold', OpenSansBold, sans-serif;
  font-size: 12px;
  color: #2a2a2d;
  position: relative; }
  .header__basket-btn i {
    display: inline-block;
    width: 44px;
    height: 100%;
    background: url(../../img/icons/basket.png) no-repeat center;
    border-right: 1px solid #6e6e6e; }
  .header__basket-btn span {
    float: right;
    width: 64px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; }

.hamburger {
  display: none;
  width: 60px;
  height: 100%;
  float: right;
  background: url(../../img/icons/menu.png) no-repeat center;
  background-size: 25px 26px;
  cursor: pointer; }

/* /╤И╨░╨┐╨║╨░ ╤Б╨░╨╣╤В╨░ */
.page-container {
  width: 1440px;
  margin: 0 auto; }

.slider-main {
  width: 100%;
  margin: 30px 0;
  background-color: #999;
  overflow: hidden;
  outline: none; }
  .slider-main .slick-prev, .slider-main .slick-next {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 9999;
    color: transparent;
    border: none;
    outline: none; }
  .slider-main .slick-prev {
    background: url(../../img/icons/slider-arrow-left.png) no-repeat center;
    background-size: contain;
    left: 30px; }
  .slider-main .slick-next {
    background: url(../../img/icons/slider-arrow-right.png) no-repeat center;
    background-size: contain;
    right: 30px; }

.slider-main__slide-content {
  width: 100%;
  height: 600px; }

.slider-main__slide-title {
  display: inline-block;
  float: left;
  background-color: white;
  border-radius: 0 0 6px 0; }
  .slider-main__slide-title h1 {
    font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;
    font-size: 62px;
    color: #2a2a2d;
    margin: 4px 20px; }

.slider-main__slide-group {
  display: inline-block;
  float: left;
  clear: left;
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 0 0 6px 0; }
  .slider-main__slide-group a {
    font-family: 'OpenSansBold', OpenSansBold, sans-serif;
    font-size: 18px;
    color: #2a2a2d;
    border: 2px #6e6e6e solid;
    border-radius: 5px;
    padding: 10px 22px;
    top: -20px;
    position: relative;
    outline: none; }
  .slider-main__slide-group a, .slider-main__slide-group a:hover, .slider-main__slide-group a:link, .slider-main__slide-group a:visited {
    color: #2a2a2d;
    text-transform: none;
    text-decoration: none; }

.main-stock {
  position: relative;
  height: 346px; }
  .main-stock .row {
    margin-left: 0;
    margin-right: 0; }
  .main-stock .col-lg-4 {
    padding-left: 0;
    padding-right: 0; }

.main-stock__block {
  width: 446px;
  height: 446px;
  top: -100px;
  position: absolute;
  overflow: hidden;
  border-radius: 6px;
  display: inline-block; }
  .main-stock__block img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1; }
  .main-stock__block:after {
    content: "";
    width: 42px;
    height: 32px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    background: url(../../img/icons/stock-arrow-white.png) no-repeat center;
    background-size: contain; }

.main-stock__block.main-stock__block__color-yellow:after {
  background: url(../../img/icons/stock-arrow-black.png) no-repeat center;
  background-size: contain; }

.main-stock__block__img {
  position: absolute;
  width: 100%;
  height: 100%; }

.main-stock .col-lg-4:nth-of-type(1) .main-stock__block {
  left: 0px; }

.main-stock .col-lg-4:nth-of-type(2) .main-stock__block {
  left: 17px; }

.main-stock .col-lg-4:nth-of-type(3) .main-stock__block {
  right: 0px; }

.main-stock__block.main-stock__block__color-yellow {
  color: #2a2a2d; }

.main-stock__block {
  color: #fff; }

.main-stock__block__color-yellow {
  background-color: #fff389; }

.main-stock__block__color-blue {
  background-color: #4bbceb; }

.main-stock__block__color-pink {
  background-color: #db6494; }

.main-stock__block__title {
  position: absolute;
  left: -16px;
  top: 90px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .main-stock__block__title h1 {
    padding: 0;
    margin: 0;
    font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 14px; }

.main-stock__block__text {
  position: absolute;
  right: 30px;
  bottom: 50px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .main-stock__block__text h4 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'OpenSansBold', OpenSansBold, sans-serif; }
    .main-stock__block__text h4 span {
      font-size: 48px;
      margin-left: -18px; }

.main-stock__block:hover .main-stock__block__title {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: -500px; }

.main-stock__block:hover .main-stock__block__text {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  right: -500px; }

.main-stock__block:hover .main-stock__block__img {
  -webkit-transition: all 10s ease-out;
  -o-transition: all 10s ease-out;
  transition: all 10s ease-out; }

.main-stock__block:hover .main-stock__block__img {
  -moz-transform: scale(1.2);
  /* ╨Ф╨╗╤П Firefox */
  -ms-transform: scale(1.2);
  /* ╨Ф╨╗╤П IE */
  -webkit-transform: scale(1.2);
  /* ╨Ф╨╗╤П Safari, Chrome, iOS */
  -o-transform: scale(1.2);
  /* ╨Ф╨╗╤П Opera */
  transform: scale(1.2); }

/* brands */
.main__brands {
  padding: 20px 0;
  color: #2a2a2d; }

.main__brands-title {
  width: 350px;
  height: 68px;
  float: left; }
  .main__brands-title h2 {
    font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase; }

.main__brands-slider {
  width: calc(100% - 350px);
  height: 68px;
  color: #2a2a2d;
  float: left;
  padding: 0 40px; }

.brands-slider {
  width: 100%;
  height: 100%; }
  .brands-slider .slick-prev, .brands-slider .slick-next {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 9999;
    color: transparent;
    border: none;
    outline: none; }
  .brands-slider .slick-prev {
    background: url(../../img/icons/slider-arrow-left.png) no-repeat center;
    background-size: contain;
    left: -32px; }
  .brands-slider .slick-next {
    background: url(../../img/icons/slider-arrow-right.png) no-repeat center;
    background-size: contain;
    right: -32px; }

.brands-slider-container h5 {
  margin: 0;
  padding: 0;
  font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ababab;
  padding: 17px 0; }
.brands-slider-container h5:hover {
  color: #2a2a2d; }

.main__catalog {
  padding: 20px 0; }

.main__catalog__sort {
  padding: 24px 0; }
  .main__catalog__sort span {
    font-family: 'OpenSansRegular', OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #2a2a2d; }
  .main__catalog__sort select {
    outline: none;
    border: none;
    font-family: 'OpenSansExtraBold', OpenSansExtraBold, sans-serif;
    font-size: 14px;
    color: #2a2a2d;
    cursor: pointer;
    margin-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #2a2a2d;
    background: url(../../img/icons/option-arrow.png) no-repeat center right;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none; }

.main__catalog__item-block {
  padding: 40px 30px;
  width: 330px;
  height: 480px;
  border: 2px solid #dadada;
  border-radius: 5px;
  float: left;
  margin-right: 40px;
  color: #2a2a2d;
  margin-bottom: 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .main__catalog__item-block h4 {
    font-family: 'CocoGothicHeavy', CocoGothicHeavy, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0; }
  .main__catalog__item-block h3 {
    font-family: 'OpenSansBold', OpenSansBold, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    margin: 0; }
  .main__catalog__item-block:hover {
    border-color: #db6494; }

.main__catalog__item-block:nth-of-type(4n+4) {
  margin-right: 0; }

.main__catalog__item-block__img-container {
  height: 270px;
  overflow: hidden;
  position: relative; }
  .main__catalog__item-block__img-container img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.main__catalog__item-block__title {
  height: 50px;
  overflow: hidden; }
  .main__catalog__item-block__title a {
    color: #2a2a2d; }
  .main__catalog__item-block__title a:hover, .main__catalog__item-block__title a:link, .main__catalog__item-block__title a:visited {
    text-decoration: none; }

.main__catalog__item-block__price {
  height: 30px;
  overflow: hidden;
  text-align: center; }

.main__catalog__item-block__button {
  text-align: center;
  padding: 8px 0; }

.main__catalog__btn-wrap {
  text-align: center; }

.main__catalog__item-block__like {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background: url(../../img/icons/like.png) no-repeat center;
  background-size: contain;
  display: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.main__catalog__item-block__like.active {
  background: url(../../img/icons/like-hover.png) no-repeat center;
  background-size: contain; }

.main__catalog__item-block__like:hover {
  background: url(../../img/icons/like-hover.png) no-repeat center;
  background-size: contain; }

.main__catalog__item-block__img-container:hover .main__catalog__item-block__like {
  display: inline-block; }

.main__catalog__item-block__hit {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url(../../img/icons/hit.png) no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.main__catalog__item-block__new {
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: url(../../img/icons/new.png) no-repeat center;
  background-size: contain;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

footer {
  background-color: #2a2a2d;
  padding: 20px 0; }
  footer p {
    color: #fff;
    font-family: 'CocoGothicRegular', CocoGothicRegular, sans-serif;
    font-size: 14px; }
    footer p span {
      font-family: 'MyriadProRegular', MyriadProRegular, sans-serif; }
  footer a {
    color: #fff; }
    footer a:hover {
      color: #fff; }
    footer a:active {
      color: #fff; }
    footer a:visited {
      color: #fff; }
    footer a:link {
      color: #fff; }
  footer p.adress {
    text-align: left; }
  footer p.graph {
    text-align: center; }
  footer p.phone {
    text-align: right; }

.footer_social-links-container {
  float: right;
  padding: 22px 0; }
  .footer_social-links-container ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    font-size: 0; }
    .footer_social-links-container ul li {
      display: inline-block;
      margin: 0 5px; }
      .footer_social-links-container ul li a {
        opacity: 0.7;
        -webkit-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s; }
      .footer_social-links-container ul li a:hover {
        opacity: 1; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.quantity {
  min-width: 22px;
  height: 22px;
  position: absolute;
  top: -9px;
  left: -9px;
  padding: 5px;
  border-radius: 50%;
  background-color: #db6494;
  color: #fff;
  text-align: center;
  line-height: 11px;
  font-family: 'OpenSansBold', OpenSansBold, sans-serif;
  font-size: 12px; }

/* ╨Ъ╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╨║╨╛╨╜╤В╨╡╨╜╤В╨░ ╤Б╨░╨╣╤В╨░ */
@media screen and (max-width: 1480px) {
  .page-container {
    width: 1200px; } }
@media screen and (max-width: 1240px) {
  .page-container {
    width: 1000px; } }
@media screen and (max-width: 1040px) {
  .page-container {
    width: 700px; } }
@media screen and (max-width: 700px) {
  .page-container {
    width: 100%; } }
/* header */
@media screen and (max-width: 1480px) {
  .header__menu {
    padding-left: 100px; } }
@media screen and (max-width: 1240px) {
  .header__menu {
    padding-left: 10px; }

  .header__basket-container {
    margin-left: 10px; } }
@media screen and (max-width: 1040px) {
  body {
    margin-top: 162px; }

  .header__wrap {
    margin-top: -162px; }

  .header__basket-container {
    margin-left: 30px; } }
@media screen and (max-width: 700px) {
  .header__logo {
    display: none; }

  .header__wrap header {
    height: 60px; }

  body {
    margin-top: 60px; }

  .header__wrap {
    margin-top: -60px; }

  .header__menu {
    width: 100%;
    position: absolute;
    padding-left: 0;
    top: 60px;
    left: 0;
    min-height: 300px; }

  .header__menu ul {
    width: 100%;
    display: list-item; }

  .header__menu ul li {
    width: 100%;
    display: list-item;
    height: 60px; }

  .header__menu ul li a {
    margin: 0;
    line-height: 60px;
    display: block;
    text-align: center; }

  .header__buttons {
    width: auto;
    float: left; }

  .header__basket-container {
    margin-left: 0;
    width: 70px; }

  .header__liked-container {
    width: 60px; }

  .header__search-container {
    width: 60px; }

  .header__basket-container {
    width: 60px; }

  .header__liked-btn {
    background-size: 24px 20px; }

  .header__search-btn {
    background-size: 20px 20px; }

  .header__basket-btn {
    border: none;
    width: 30px;
    height: 37px; }

  .header__basket-btn span {
    display: none; }

  .header__basket-btn i {
    border: none;
    /*background-size: 30px 26px;*/
    width: 30px;
    background-size: 20px 20px; }

  .header__menu ul li.hamburger-logo {
    display: list-item; }

  .hamburger {
    display: block; }

  .header__menu {
    display: none; }

  .header__menu.active {
    display: block; } }
/* main slider */
@media screen and (max-width: 1240px) {
  .slider-main__slide-content {
    height: 400px; } }
@media screen and (max-width: 1040px) {
  .slider-main__slide-content {
    height: 300px; } }
@media screen and (max-width: 700px) {
  .slider-main {
    margin: 10px 0px; }

  .slider-main__slide-title {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    text-align: center; }
    .slider-main__slide-title h1 {
      display: inline-block;
      font-size: 20px;
      background-color: white;
      border-radius: 5px;
      padding: 4px 10px;
      margin: 10px 0 4px 0; }

  .slider-main__slide-group {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 0;
    background-color: transparent; }
    .slider-main__slide-group a {
      display: inline-block;
      top: 0;
      background-color: white; } }
/* stock elements */
@media screen and (max-width: 1480px) {
  .main-stock {
    height: 280px; }

  .main-stock__block {
    width: 380px;
    height: 380px; }

  .main-stock .col-lg-4:nth-of-type(1) .main-stock__block {
    left: 0px; }

  .main-stock .col-lg-4:nth-of-type(2) .main-stock__block {
    left: 10px; }

  .main-stock .col-lg-4:nth-of-type(3) .main-stock__block {
    right: 0px; }

  .main-stock__block__title {
    top: 70px; }
    .main-stock__block__title h1 {
      font-size: 48px; } }
@media screen and (max-width: 1240px) {
  .main-stock {
    height: 200px; }

  .main-stock__block {
    width: 300px;
    height: 300px; }

  .main-stock .col-lg-4:nth-of-type(1) .main-stock__block {
    left: 0px; }

  .main-stock .col-lg-4:nth-of-type(2) .main-stock__block {
    left: 16px; }

  .main-stock .col-lg-4:nth-of-type(3) .main-stock__block {
    right: 0px; }

  .main-stock__block__title {
    top: 30px;
    left: 10px; }
    .main-stock__block__title h1 {
      font-size: 28px; }

  .main-stock__block__text {
    bottom: 20px; }
    .main-stock__block__text h4 {
      font-size: 20px; }
      .main-stock__block__text h4 span {
        font-size: 24px;
        margin-left: -10px; } }
@media screen and (max-width: 1040px) {
  .main-stock {
    height: 110px; }

  .main-stock__block {
    width: 210px;
    height: 210px; }

  .main-stock__block:after {
    display: none; }

  .main-stock .col-lg-4:nth-of-type(1) .main-stock__block {
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

  .main-stock .col-lg-4:nth-of-type(2) .main-stock__block {
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

  .main-stock .col-lg-4:nth-of-type(3) .main-stock__block {
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

  .main-stock__block__title {
    top: 10px;
    left: 10px; }
    .main-stock__block__title h1 {
      font-size: 18px; }

  .main-stock__block__text {
    bottom: 10px; }
    .main-stock__block__text h4 {
      font-size: 14px; }
      .main-stock__block__text h4 span {
        font-size: 16px;
        margin-left: -10px; } }
@media screen and (max-width: 768px) {
  .main-stock {
    height: 100px; }

  .main-stock__block {
    width: 180px;
    height: 180px; } }
@media screen and (max-width: 600px) {
  .main-stock {
    height: 100px; }

  .main-stock__block {
    width: 160px;
    height: 160px; } }
@media screen and (max-width: 520px) {
  .main-stock .col-xs-4 {
    width: 100%; }

  .main-stock {
    height: auto; }

  .main-stock__block {
    position: relative;
    width: 100%;
    height: 160px; } }
/* ╨▒╤А╨╡╨╜╨┤╤Л ╤Б╨╗╤Д╨╣╨┤╨╡╤А */
@media screen and (max-width: 760px) {
  .main__brands-title {
    width: 100%;
    height: 30px; }
    .main__brands-title h2 {
      font-size: 24px;
      text-align: center; }

  .main__brands-slider {
    width: 100%;
    height: 50px;
    padding: 10px 50px; }
    .main__brands-slider h5 {
      padding: 0; } }
/* catalog */
@media screen and (max-width: 1480px) {
  .main__catalog__item-block {
    margin-right: 48px; }

  .main__catalog__item-block:nth-of-type(4n+4) {
    margin-right: 48px; }

  .main__catalog__item-block:nth-of-type(3n+3) {
    margin-right: 0; }

  .main__catalog__item-block {
    width: 368px; } }
@media screen and (max-width: 1240px) {
  .main__catalog__item-block {
    margin-right: 20px; }

  .main__catalog__item-block:nth-of-type(4n+4) {
    margin-right: 20px; }

  .main__catalog__item-block:nth-of-type(3n+3) {
    margin-right: 0px; }

  .main__catalog__item-block {
    width: 320px; } }
@media screen and (max-width: 1040px) {
  .main__catalog__item-block {
    margin-right: 20px; }

  .main__catalog__item-block:nth-of-type(4n+4) {
    margin-right: 20px; }

  .main__catalog__item-block:nth-of-type(3n+3) {
    margin-right: 20px; }

  .main__catalog__item-block:nth-of-type(2n+2) {
    margin-right: 0px; }

  .main__catalog__item-block {
    width: 340px;
    height: 440px; }

  .main__catalog__item-block h4 {
    font-size: 14px; }

  .main__catalog__item-block__img-container {
    height: 240px; } }
@media screen and (max-width: 700px) {
  .main__catalog__item-block {
    margin-right: 0px; }

  .main__catalog__item-block:nth-of-type(4n+4) {
    margin-right: 0px; }

  .main__catalog__item-block:nth-of-type(3n+3) {
    margin-right: 0px; }

  .main__catalog__item-block:nth-of-type(2n+2) {
    margin-right: 0px; }

  .main__catalog__item-block {
    width: 90%;
    height: 440px;
    margin-left: 5%;
    margin-right: 5%; }

  .main__catalog__item-block h4 {
    font-size: 14px; }

  .main__catalog__item-block__img-container {
    height: 240px; }

  .main__catalog__item-block__img-container img {
    height: 80%;
    width: auto; }

  .main__catalog__item-block__like {
    display: inline-block;
    right: 0;
    top: 0;
    bottom: auto;
    left: auto; } }
/* footer */
@media screen and (max-width: 1240px) {
  .footer_social-links-container {
    display: inline-block;
    float: none; }

  footer {
    text-align: center !important; }

  footer p.adress, footer p.graph, footer p.phone {
    float: none;
    text-align: center; } }
@media screen and (max-width: 700px) {
  footer .page-container {
    width: calc(100% - 30px); }

  .footer__btn_1 {
    font-size: 10px; } }
